@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  background: rgb(86, 152, 252);
  font-family: 'Roboto', sans-serif;
}

.totoList{
  margin: 0 auto;
  width: 400px;
  transform: translate(15%, 25%);
}

h1 {
  background: rgb(14, 63, 223);
  color: #FFF;
  border-radius: 15px;
  font-size: 14px;
  padding: 15px 15px;
}

.heading {
  text-align: center;
  color: #FFF;
  text-shadow:2px 2px rgb(107, 49, 241) ;
}

.btn {
  background: rgb(241, 88, 88);
  color: #FFF;
  padding:5px 15px;
  border-radius: 15px;
  font-size: 13px;
  border:none;
  
}

.btn-xs{padding:4px 7px; font-size: 11px; float: right; margin-top: -18px;}
.btn-add{text-align: right;}
.btn-add .btn, .btn-green{background: rgb(71, 146, 104);}
.txt-right{text-align: right;}
.input {padding: 7px 15px;border-radius: 15px;border: none; width: 56%;}
